

main{
    background-color:bisque;
}

fieldset{
    border:none;
}

input[type=radio]{
    display:none;

    &:checked + label{
        
        background-color:white;
        // transform:scale(2rem);
    }
}

label{
    border:2px $red solid;
    background-color:$red;
    padding:5px 20px;
    transition:background-color 0.2s;

    &:hover{
        background-color:white;
    }
}

.timeFieldset{
    display:none;
    input{
        width:500px;
    }
}

// SCROLL TO TOP 
.scrollToTop{
    font-size:2rem;
    position: fixed;
    bottom:8%;
    right:8%;
    z-index:100;


    button{
        background-color:transparent;
        border:none;
        color:rgba($color:$white, $alpha:0.5);
        transition:color 0.3s;

        &:hover{
            color:rgba($color:$white, $alpha:1);
        }
    }

}


// PASSRATE SECTION

.passrate{
    padding:10px;
    background-color:rgba($color:$black, $alpha:0.8);
    color:$white;

    // h3{
    //     // animation: opacityChange 30s infinite, transitionOut 30s  infinite;
    // }

    // p{
    //     &:nth-child(2){
    //         animation: opacityChange 30s infinite 0.2s, transitionOut 30s  infinite 0.2s;
    //     }
    //     &:nth-child(3){
    //         animation: opacityChange 30s infinite 0.4s, transitionOut 30s  infinite 0.4s;
    //     }
    //     &:nth-child(4){
    //         animation: opacityChange 30s infinite 0.6s, transitionOut 30s  infinite 0.6s;
    //     }
    //     &:nth-child(5){
    //         animation: opacityChange 30s infinite 0.8s, transitionOut 30s  infinite 0.8s;
    //     }
    //     &:nth-child(6){
    //         animation: opacityChange 30s infinite 1s, transitionOut 30s  infinite 1s;
    //     }
    // }

}
// ELEVATOR
.roomText{
    background-color:$black;
    flex-basis:50%;
    padding:0 40px;
    position: relative;
}

.elevator{
    display:flex;
    .roomPoster{
        flex-basis:50%;
        background-size:cover;
        background-position:center;
        background-image:url('../../../assets/room-1.jpg');
        // animation:pulseBg 30s infinite ;
    }

}
// KATE'S MOTEL
.katesMotel{
    display:flex;
    .roomPoster{
        flex-basis:50%;
        background-size:cover;
        background-position:center;
        background-image:url('../../../assets/room-2.jpg');
        // animation:pulseBg 30s infinite 15s;
    }
}
// THE LAST LAUGH
.theLastLaugh{
    display:flex;
    .roomPoster{
        flex-basis:50%;
        background-size:cover;
        background-position:center;
        background-image:url('../../../assets/room-3.jpg');
        // animation:pulseBg 30s infinite 30s;
    }
}
// THE SHORT CUT
.theShortCut{
    display:flex;
    .roomPoster{
        flex-basis:50%;
        background-size:cover;
        background-position:center;
        background-image:url('../../../assets/room-4.jpg');
        // animation:pulseBg 30s infinite 45s;
    }
}
// TRUE SPIES
.trueSpies{
    display:flex;
    .roomPoster{
        flex-basis:50%;
        background-size:cover;
        background-position:center;
        background-image:url('../../../assets/room-5.jpg');
        // animation:pulseBg 30s infinite 60s;
    }

}

// GENERAL CLASS
.additionalText{
    top:25%;
    right:-5%;
    padding:5px 20px;
    width:200px;
    background-color:$red;
    text-align:center;
    position: absolute;
    font-family:$bebas;
    font-size:1.5rem;
    span{
        font-size:1rem;
    }
    h3{
        margin:0;
        display:flex;
        flex-direction:column;
        opacity:1;
        animation:none;
        // animation: opacityAppear 30s infinite, transitionIn 30s infinite;
    }
}

// RECENT STATS SECTION
.view{
    padding:10px;
    background-color:rgba($color:$black, $alpha:0.9);
    color:$white;

    ul{
        display:flex;
        list-style:none;
        justify-content:space-between;
        padding:0;

        li{
            width:calc(100%/6);
            text-align:center;

        }
    }

    .statsHeader{
        font-size:1.5rem;
        // padding:0 20px;

        ul{
            // border-radius:3px;
            transform:skew(-10deg);
            border:2px $red solid;
            background-color:$red;
            margin:0;
        }
    }

    .displayStats{
        ul{
            margin:0 0px 10px;
            padding:15px 0;
            // border-radius:10px;
            background-color:rgba($color:$grey, $alpha:1);
            transform:skew(-5deg);

            &:nth-child(odd){
                background-color:rgba($color:$grey, $alpha:0.5);
                // border-radius:10px;
            }
        }
        li{
            align-self:center;
        }
    }


}

