h1{
    font-family:$bebas;
    font-size:2.2rem;
}

h2{
    font-family:$bebas;
    text-align: center;
}

h3{
    font-family:$bebas;
    font-size:1.5rem;
}

legend{
    font-family:$bebas;
    font-size:1.5rem;
}


body{
    font-family:$poppins;
}

.statName, .view, .roomText{
    font-family:$bebas;
    font-size:1.2rem;
}

.view{
    font-family:$bebas;
    font-size:1.2rem;
}

