html{
    font-size:125%;
    scroll-behavior: smooth;
}

/* COLOURS */
$white:#fff;
$red:#d01f25;
$black:#000;
$grey:#58585a;

/* FONT */
$poppins:'Poppins',sans-serif;
$bebas:'Bebas Neue',sans-serif;

/* TRANSITION DELAY */
$duration: 60s;